* [
    padding:0;
    margin:0;
]

body{
    background-color: lightpink;
}
.card{
    width: 15rem;
    height: fit-content;
    padding: initial;
    margin: 2px;
}
.card-img-adjust{
    height: 133px;
    object-fit: cover;
}
.our-mission{
    margin: 1ren 0;
    text-align: center;
    font-sizes: 20;
    text-transforms: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
}
.knowave-regular {
    font-family:'Times New Roman', Times, serif
    font-weight: 400;
    font-style: normal;
}
.wings-padding{
    padding-left: 4%;
}